.chat-header {
  grid-area: topbar;
  padding: 14px 28px;
  border-bottom: #E1E3E5 solid 1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.chat-header__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.chat-header__avatar {
  width: 52px;
  height: 52px;
  margin-right: 16px;
  margin-left: 1px;
  border-radius: 12px;
}

.chat-header__name {
  color: #333333;
}

.chat-header__icon-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.chat-header__icon-container :nth-last-child(-n+1) {
  margin: 0;
}

.chat-header__icon {
  cursor: pointer;
  margin-right: 28px;
}

.chat-header__icon path {
  fill: #818386;
}
