.chat {
  grid-area: chat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.chat-window {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
  border-bottom: #E1E3E5 solid 1px;
  height: 0;
  padding: 20px 30px;
  overflow-y: auto;
}

.chat-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 76px;
          flex: 0 0 76px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
}

.chat-input__icon-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.chat-input__icon {
  margin-left: 16px;
  cursor: pointer;
}

.chat-input__input {
  width: 100%;
  color: #818386;
  font-size: 15px;
  line-height: 1;
  font-family: inherit;
  border: none;
  padding: 0 22px;
}

.chat-input__button {
  width: 56px;
  height: 56px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 56px;
          flex: 0 0 56px;
  background: #3A63DE;
  padding: 15px;
}

.response {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 22px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 24px solid rgba(255, 255, 255, 0);
}

.response__avatar {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.response__message {
  position: relative;
  min-height: 59px;
  padding: 18px 24px 18px 20px;
  line-height: 21px;
  max-width: 60%;
  margin: 0 8px;
}

.response__message--left {
  background: #3A63DE;
  color: #FFFFFF;
  border-radius: 8px 8px 8px 1px;
}

.response__message--left > :nth-last-child(1) {
  right: 0;
}

.response__message--right {
  background: #F2F5FA;
  color: #595F69;
  border-radius: 8px 8px 1px 8px;
}

.response__message--right > :nth-last-child(-n+1) {
  left: 0;
}

.response__time {
  position: absolute;
  margin-top: 4px;
  color: #818386;
  line-height: 20px;
  font-size: 13px;
  bottom: -24px;
  z-index: 5;
}

.response__menu {
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.response__icon-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #FFFFFF;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  padding: 7px;
}

.response__attachments-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: -32px -8px 22px;
  padding: 0 60px;
}

.response__attachment {
  margin: 0 8px;
}

.response__attachment--more {
  min-width: 48px;
  height: 48px;
  background: rgba(58, 99, 222, 0.1);
  color: #3A63DE;
  font-weight: 500;
  line-height: 48px;
  text-align: center;
}

.response--right {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
