.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 33px 52px;
}

.logo__container {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 112px;
          flex: 1 0 112px;
  background: #3A63DE;
}
