.search {
  grid-area: search;
  position: relative;
  padding: 22px;
  border-bottom: #E1E3E5 solid 1px;
  border-right: #E1E3E5 solid 1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.search__icon {
  position: absolute;
  top: 50%;
  margin-top: -10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.search__input {
  width: 100%;
  margin: 0;
  padding-left: 24px;
  color: #818386;
  font-size: 15px;
  line-height: 1;
  font-family: inherit;
  border: none;
}
