.sidebar {
  grid-area: nav;
}

.sidebar--scrollable {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.sidebar__item {
  height: 150px;
  background: #3A63DE;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sidebar__item :nth-child(1) {
  margin-top: 112px;
}

.sidebar__item a {
  color: white;
  font-size: 13px;
  text-align: center;
}

.sidebar__item span {
  display: block;
  margin-top: 16px;
  opacity: .8;
}

.sidebar__icon {
  display: block;
  margin: 0 auto;
  opacity: .7;
}

.sidebar__scrolling {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  bottom: 0px;
  background: #3A63DE;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px 55px;
}

.scroll {
  background: none;
}
