@import "../colors.scss";
.chat {
    grid-area: chat;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.chat-window {
    display: flex;
    flex-direction: column;
    flex: auto;
    border-bottom: $border solid 1px;
    height: 0;
    padding: 20px 30px;
    overflow-y: auto;
}

.chat-input {
    display: flex;
    flex: 0 0 76px;
    align-items: center;
    padding: 10px;

    &__icon-container {
    display: flex;
    }    
    
    &__icon {
    margin-left: 16px;
    cursor: pointer;  
    }

    &__input {
    width: 100%;
    color: $greylight;
    font-size: 15px;
    line-height: 1;
    font-family: inherit;
    border: none;
    padding: 0 22px;
    }

    &__button {
    width: 56px;
    height: 56px;
    flex: 0 0 56px;
    background: $accent;
    padding: 15px;
    }
}