@import "../colors.scss";
.chat-header {
    grid-area: topbar;
    padding: 14px 28px;
    border-bottom: $border solid 1px;
    display: flex;
    justify-content: space-between;

    &__title {
    display: flex;
    align-items: center;
    cursor: pointer;
    }

    &__avatar {
    width: 52px;
    height: 52px;
    margin-right: 16px;
    margin-left: 1px;
    border-radius: 12px;
    }

    &__name {
    color: $heading;
    }

    &__icon-container {
    display: flex;
    align-items: center;
    :nth-last-child(-n+1) {
    margin: 0;
    }
    }

    &__icon {
    cursor: pointer;
    margin-right: 28px;
    }
    
    &__icon path{
    fill:#818386;
    }
}