@import "../colors.scss";
.chat {
    grid-area: chat;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.chat-window {
    display: flex;
    flex-direction: column;
    flex: auto;
    border-bottom: $border solid 1px;
    height: 0;
    padding: 20px 30px;
    overflow-y: auto;
}

.chat-input {
    display: flex;
    flex: 0 0 76px;
    align-items: center;
    padding: 10px;

    &__icon-container {
    display: flex;
    }    
    
    &__icon {
    margin-left: 16px;
    cursor: pointer;  
    }

    &__input {
    width: 100%;
    color: $greylight;
    font-size: 15px;
    line-height: 1;
    font-family: inherit;
    border: none;
    padding: 0 22px;
    }

    &__button {
    width: 56px;
    height: 56px;
    flex: 0 0 56px;
    background: $accent;
    padding: 15px;
    }
}

.response {
    display: flex;
    margin-bottom: 22px;
    align-items: center;
    border-bottom: 24px solid rgba(255, 255, 255, 0);

    &__avatar {
        align-self: flex-end;
    }

    &__message {
        position: relative;
        min-height: 59px;       
        padding: 18px 24px 18px 20px;
        line-height: 21px;
        max-width: 60%;
        margin: 0 8px;
        
        &--left {
            background: $accent;
            color: $base-color;
            border-radius: 8px 8px 8px 1px;
            & > :nth-last-child(1) {
                right: 0;
            }       
        }
        &--right {
            background: $grey100;
            color: $greydark;
            border-radius: 8px 8px 1px 8px; 
            & > :nth-last-child(-n+1) {
                left: 0;
            }  
        }

    }

    &__time {
        position: absolute;
        margin-top: 4px;
        color: $greylight;
        line-height: 20px;
        font-size: 13px;
        bottom: -24px;
        z-index: 5;
    }

    &__menu {
        align-self: center;
        display: flex;
    }

    &__icon-button {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $base-color;
        flex: 0 0 auto;
        padding: 7px;
    }

    &__attachments-container {
        display: flex;
        align-items: center;
        margin: -32px -8px 22px;
        padding: 0 60px;
    }

    &__attachment {
        margin: 0 8px;
    }

    &__attachment--more {
        min-width: 48px;
        height: 48px;
        background: rgba(58, 99, 222, 0.1);
        color: $accent;
        font-weight: 500;
        line-height: 48px;
        text-align: center;
    }

    &--right {
        flex-direction: row-reverse;
    }
}
