@import "../colors.scss";
.sidebar {
    grid-area: nav;
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}
.sidebar--scrollable {
    flex: 1 1 100%;
    height: 0;
    background: $accent;
    flex-direction: column;
    overflow-y: scroll;
    scrollbar-width: none;
}
.sidebar--scrollable::-webkit-scrollbar {
    width: 0;
}
.sidebar__item {
   height: 150px;
   background: $accent;
   display: flex;
   align-items: center;
   justify-content: center;
   :hover .sidebar__icon{
    opacity: 1;
}
}
.sidebar__item a {
    color: white;
    font-size: 13px;
    text-align: center;
}
.sidebar__item span {
    display: block;
    margin-top: 16px;
    opacity: .8;
}
.sidebar__item--active {
    box-shadow: inset 0px -4px 8px rgba(0, 0, 0, 0.08), inset 0px 4px 8px rgba(0, 0, 0, 0.08);
    background-color: #3154BD;
    .sidebar__icon{
        opacity: 1;
    }
}

.sidebar__icon {
    display: block;
    margin: 0 auto;
    opacity: .7;
}
.sidebar__scrolling {
    flex: 1 0 106px;
    background: $accent;
    align-items: center;
    justify-content: center;
    padding: 10px 55px;
}
.scroll {
    background: none;
}
